<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to make phone calls -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mad_project"
        tools:targetApi="31">

<!--        <meta-data-->
<!--            android:name="com.mapbox.AccessToken"-->
<!--            android:value="YOUR_MAPBOX_ACCESS_TOKEN" />-->

        <!-- Launch Activity -->
        <activity
            android:name=".Mula"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".Main"></activity>
        <activity android:name=".Map"></activity>
        <activity android:name=".Report"></activity>
        <activity android:name=".ReportForm"></activity>
        <activity android:name=".ReportDetail"></activity>
        <activity android:name=".GroundMovement"></activity>
        <activity android:name=".EmergencyCall"></activity>
        <activity android:name=".Perhatian_form"></activity>
        <activity android:name=".Perhatian_edit"></activity>
        <activity android:name=".Perhatian"></activity>
        <activity android:name=".PanduanActivity"></activity>
        <activity android:name=".PanduanForm"></activity>
        <activity android:name=".EditPanduanActivity"></activity>
        <activity android:name=".CompassActivity"></activity>



    </application>

</manifest>
